<mat-card class="search-card">
  <img mat-card-image src="https://i.ytimg.com/vi/YN8zNnV0sK8/mqdefault.jpg" alt="image">
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>visibility</mat-icon>
      100
    </button>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
      100
    </button>
    <button mat-icon-button>
      <mat-icon>thumb_down</mat-icon>
      100
    </button>
    <button mat-icon-button><mat-icon>forum</mat-icon>
      100
    </button>
  </mat-card-actions>
  <mat-card-title>Angular 8 - Быстрый курс за 60 минут</mat-card-title>
  <button mat-raised-button>more</button>
  <div class="line-date"></div>
</mat-card>

