:host{
  margin: 0 auto;
  max-width: 1440px;
}
p {
  margin: 0;
}
.header {
  background-color: #e5e5e5;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.logo {
  background-image: url("../header/logo1.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 37px;
  border-radius: 10px;
  outline: none;
  border: none;
}
input::-webkit-input-placeholder { color: #929292; }
.search {
  background-color: #efefef;
  width: 391px;
  height: 24px;
  border: none;
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #929292;
  padding-left: 5px;
}
.search-button {
  background: #2F80ED;
  border-radius: 0 4px 4px 0;
  width: 80px;
  height: 24px;
  line-height: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.options-button {
  background: #2F80ED;
  border-radius: 0 0 0 0;
  width: 24px;
  height: 24px;
  line-height: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin-left: 10px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}
.burger {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
.burger::before {
  content: "";
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  left: 0;
}
.burger::after {
  content: "";
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
}
.burger__center {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  left: 0;
  height: 2px;
  top: 7px;
}
