:host{
  width: 100%;
  position: relative;
}
.search {
  display: flex;
  max-width: 1140px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width:1139px){
  .search {
    display: flex;
    max-width: 844px;
  }
}
